<html>
    {% include head.html %}
    <body>
        {% include nav.html %}

        <div class="container">
            <section id="main_content">  
                {{ content }}
            </section>
        </div>

        <script>
            $('span.nv').next(('span.o') || ('span.p')).prev().css('color', '#a0f0a0'); // Var Highlighing
            $('span.nv').prev(('span.o') || ('span.p')).next().css('color', '#a0f0a0'); // Var Highlighing
            $('span.p:contains("[")').nextUntil('span.p:contains("]")').filter('span.nv').css('color', '#a0f0a0') // Var Highlighing (Arrays)
            $('span.nv').prev(('span.no')).next().css('color', '#667a66') // Function Highlighing
            $('span.nv').prev(('span.kd')).next().css('color', '#667a66') // Function Highlighing
            $('span.nv:contains("local")').css('color', '#a0f0f0'); // locals Highlighing
            $('span.c1:contains("#[")').nextUntil('span.c1:contains("#")').css('color', '#808080'); // Comment Block Highlighing

            $('span.nv:contains("array")').css('color', '#f0a060'); // Type Highlighing
            $('span.nv:contains("number")').css('color', '#f0a060'); // Type Highlighing
            $('span.nv:contains("string")').css('color', '#f0a060'); // Type Highlighing
            $('span.nv:contains("vector")').css('color', '#f0a060'); // Type Highlighing
            $('span.nv:contains("entity")').css('color', '#f0a060'); // Type Highlighing

            $('span.vi:contains("@")').next('span.na:contains("name")').css('color', '#f0f0a0').nextUntil('span.vi:contains("@")').css('color', '#f0f0a0'); // Directive Highlighing
            $('span.vi:contains("@")').next('span.na:contains("inputs")').css('color', '#f0f0a0') // Directive Highlighing
            $('span.vi:contains("@")').next('span.na:contains("outputs")').css('color', '#f0f0a0') // Directive Highlighing
            $('span.vi:contains("@")').next('span.na:contains("persist")').css('color', '#f0f0a0') // Directive Highlighing
            $('span.vi:contains("@")').next('span.na:contains("trigger")').css('color', '#f0f0a0').next('span.nv:contains("none")' || 'span.nv:contains("all")').css('color', '#f0f0a0') // Directive Highlighing
            
            if($('span.vi:contains("@")').next('span.na:contains("model")').next('span.k:contains("default")' || 'span.nv:contains("none")').length > 0) {
                $('span.vi:contains("@")').next('span.na:contains("model")').css('color', '#f0f0a0').next('span.k:contains("default")' || 'span.nv:contains("none")').css('color', '#f0f0a0') // Directive Highlighing (Defaults)
            }
            else {
                $('span.vi:contains("@")').next('span.na:contains("model")').css('color', '#f0f0a0').nextUntil('span.na:contains("mdl")').css('color', '#f0f0a0').next().css('color', '#f0f0a0') // Directive Highlighing (Model String)
            }

            $('span.vi:contains("@")').next('span.na:contains("autoupdate")').css('color', '#f0f0a0').next('span.nv:contains("none")' || 'span.nv:contains("all")').css('color', '#f0f0a0') // Directive Highlighing
        </script>

        {% include footer.html %}
    </body>
</html>
